.AboutMap{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    background: center center no-repeat;
    background-size: 100%;
    background-image: url('/static/icons/question.svg');
}

.AboutMap:hover{
    cursor: pointer;
}